@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
.font-size-9 {
  font-size: 0.5625em;
}

.font-size-10 {
  font-size: 0.625em;
}

.font-size-12 {
  font-size: 0.75em;
}

.font-size-14 {
  font-size: 0.875em;
}

.font-size-16 {
  font-size: 1em;
}

.font-size-18 {
  font-size: 1.125em;
}

.font-size-20 {
  font-size: 1.25em;
}

.font-size-24 {
  font-size: 1.5em;
}

.font-size-28 {
  font-size: 1.75em;
}

.font-size-32 {
  font-size: 2em;
}

.font-size-36 {
  font-size: 2.25em;
}

.font-size-40 {
  font-size: 2.5em;
}

.font-size-42 {
  font-size: 2.625em;
}

.font-size-48 {
  font-size: 3em;
}

.font-size-64 {
  font-size: 4em;
}

.border-radius-4 {
  border-radius: 0.25em;
}

.border-radius-10 {
  border-radius: 0.625em;
}

.border-radius-15 {
  border-radius: 0.9375em;
}

.border-radius-20 {
  border-radius: 1.25em;
}

.border-radius-24 {
  border-radius: 1.5em;
}

.border-radius-28 {
  border-radius: 1.75em;
}

.w-unset {
  width: unset;
}

.h-min-100 {
  min-height: 100%;
}

.h-100vh {
  height: 100vh;
}

.bg-white {
  background-color: var(--white) !important;
}

.text-white {
  color: var(--white) !important;
}

.border-white {
  border-color: var(--white) !important;
}

.outline-white {
  color: var(--white) !important;
  border-color: var(--white) !important;
  background-color: var(--transparent);
}
.outline-white:hover:enabled {
  background-color: var(--white) !important;
  color: var(--white) !important;
}

.text-hover-white:hover:enabled {
  color: var(--white) !important;
}

.bg-hover-white:hover:enabled {
  background-color: var(--white) !important;
}

.bg-darkwhite {
  background-color: var(--darkwhite) !important;
}

.text-darkwhite {
  color: var(--darkwhite) !important;
}

.border-darkwhite {
  border-color: var(--darkwhite) !important;
}

.outline-darkwhite {
  color: var(--darkwhite) !important;
  border-color: var(--darkwhite) !important;
  background-color: var(--transparent);
}
.outline-darkwhite:hover:enabled {
  background-color: var(--darkwhite) !important;
  color: var(--white) !important;
}

.text-hover-darkwhite:hover:enabled {
  color: var(--darkwhite) !important;
}

.bg-hover-darkwhite:hover:enabled {
  background-color: var(--darkwhite) !important;
}

.bg-purple {
  background-color: var(--purple) !important;
}

.text-purple {
  color: var(--purple) !important;
}

.border-purple {
  border-color: var(--purple) !important;
}

.outline-purple {
  color: var(--purple) !important;
  border-color: var(--purple) !important;
  background-color: var(--transparent);
}
.outline-purple:hover:enabled {
  background-color: var(--purple) !important;
  color: var(--white) !important;
}

.text-hover-purple:hover:enabled {
  color: var(--purple) !important;
}

.bg-hover-purple:hover:enabled {
  background-color: var(--purple) !important;
}

.bg-darkpurple {
  background-color: var(--darkpurple) !important;
}

.text-darkpurple {
  color: var(--darkpurple) !important;
}

.border-darkpurple {
  border-color: var(--darkpurple) !important;
}

.outline-darkpurple {
  color: var(--darkpurple) !important;
  border-color: var(--darkpurple) !important;
  background-color: var(--transparent);
}
.outline-darkpurple:hover:enabled {
  background-color: var(--darkpurple) !important;
  color: var(--white) !important;
}

.text-hover-darkpurple:hover:enabled {
  color: var(--darkpurple) !important;
}

.bg-hover-darkpurple:hover:enabled {
  background-color: var(--darkpurple) !important;
}

.bg-black {
  background-color: var(--black) !important;
}

.text-black {
  color: var(--black) !important;
}

.border-black {
  border-color: var(--black) !important;
}

.outline-black {
  color: var(--black) !important;
  border-color: var(--black) !important;
  background-color: var(--transparent);
}
.outline-black:hover:enabled {
  background-color: var(--black) !important;
  color: var(--white) !important;
}

.text-hover-black:hover:enabled {
  color: var(--black) !important;
}

.bg-hover-black:hover:enabled {
  background-color: var(--black) !important;
}

.bg-darkblack {
  background-color: var(--darkblack) !important;
}

.text-darkblack {
  color: var(--darkblack) !important;
}

.border-darkblack {
  border-color: var(--darkblack) !important;
}

.outline-darkblack {
  color: var(--darkblack) !important;
  border-color: var(--darkblack) !important;
  background-color: var(--transparent);
}
.outline-darkblack:hover:enabled {
  background-color: var(--darkblack) !important;
  color: var(--white) !important;
}

.text-hover-darkblack:hover:enabled {
  color: var(--darkblack) !important;
}

.bg-hover-darkblack:hover:enabled {
  background-color: var(--darkblack) !important;
}

.bg-transparent {
  background-color: var(--transparent) !important;
}

.text-transparent {
  color: var(--transparent) !important;
}

.border-transparent {
  border-color: var(--transparent) !important;
}

.outline-transparent {
  color: var(--transparent) !important;
  border-color: var(--transparent) !important;
  background-color: var(--transparent);
}
.outline-transparent:hover:enabled {
  background-color: var(--transparent) !important;
  color: var(--white) !important;
}

.text-hover-transparent:hover:enabled {
  color: var(--transparent) !important;
}

.bg-hover-transparent:hover:enabled {
  background-color: var(--transparent) !important;
}

.bg-inherit {
  background-color: var(--inherit) !important;
}

.text-inherit {
  color: var(--inherit) !important;
}

.border-inherit {
  border-color: var(--inherit) !important;
}

.outline-inherit {
  color: var(--inherit) !important;
  border-color: var(--inherit) !important;
  background-color: var(--transparent);
}
.outline-inherit:hover:enabled {
  background-color: var(--inherit) !important;
  color: var(--white) !important;
}

.text-hover-inherit:hover:enabled {
  color: var(--inherit) !important;
}

.bg-hover-inherit:hover:enabled {
  background-color: var(--inherit) !important;
}

#app {
  font-family: "Plus Jakarta Sans", sans-serif;
}

* {
  cursor: inherit;
  /*firefox only scrollbar*/
  scrollbar-color: #c5c5c5 white;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  font-family: Verdana, sans-serif;
}

:not(body) {
  transition: 0.3s;
}

*:focus {
  outline: none !important;
}

html, body, #app {
  height: 100%;
}

body {
  background-color: var(--purple);
}

a {
  text-decoration: none;
}

input,
button {
  padding: 0.625em 1.25em;
}

input {
  border: 0.125em solid var(--white);
  border-radius: 0.3125em;
  caret-color: var(--white);
}

input[type=text] {
  min-width: 12.5em;
}

button {
  border: none;
  line-height: 1.3125em;
  color: var(--white);
  background-color: var(--white);
  border-radius: 0.3125em;
}

.scrollable-content {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollable-content::-webkit-scrollbar {
  display: none;
}

.custom_select > select {
  border: none;
  background-color: transparent;
}

.bg-image {
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: contain;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cursor-pointer {
  cursor: pointer;
}

.appear-left {
  animation-name: appear-left;
  animation-duration: 1000ms;
}

@keyframes appear-left {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@media screen and (min-width: 1600px) {
  .padding {
    padding-left: 10em !important;
    padding-right: 10em !important;
  }
}
@media screen and (min-width: 1900px) {
  .padding {
    padding-left: 12em !important;
    padding-right: 12em !important;
  }
}
@media screen and (max-width: 1600px) {
  .padding {
    padding-left: 7.5em !important;
    padding-right: 7.5em !important;
  }
}
@media screen and (max-width: 1300px) {
  .padding {
    padding-left: 6em !important;
    padding-right: 6em !important;
  }
}
@media screen and (max-width: 1100px) {
  .padding {
    padding-left: 5em !important;
    padding-right: 5em !important;
  }
}
@media screen and (max-width: 900px) {
  .padding {
    padding-left: 4em !important;
    padding-right: 4em !important;
  }
}
@media screen and (max-width: 700px) {
  .padding {
    padding-left: 3em !important;
    padding-right: 3em !important;
  }
}
@media screen and (max-width: 500px) {
  .padding {
    padding-left: 1.5em !important;
    padding-right: 1.5em !important;
  }
}
@media screen and (max-width: 400px) {
  .padding {
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
  }
}

/*# sourceMappingURL=main.css.map */
